/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.background-drop {
  width: 100vw;
  height: calc(100vh - 50px);
  box-sizing: border-box;
  display: flex;
}

.background-drop-text {
  border-radius: 5px;
  border: dashed 2px #bbb;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  flex: 1;
}

.background-drop-text > div {
  padding: 30px;
  line-height: 30px;
  text-align: center;
}

.list-group-item .name {
  color: #707070;
}

.list-group-item .size {
  color: #7eb631;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item .size--pending {
  color: #b6b444;
}


.list-group-item .size--success {
  color: #7eb631;
}

.footer {
  height: 50px;
}

.footer-fixed {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background: #fff;
  display: flex;
}

.footer-fixed > button {
  flex: 1;
  border-radius: unset;
}

.retry {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ffffff;
  font-size: 12px;
}
